 li {
    display: flex;
    justify-content: space-between;
    background-color: #FFA1CF;
    width: 80%;
    margin: 15px auto;
    border-radius: 15px;
    align-items: center;
 }

 .Icon {
    width: 30px;
    height: 30px;
    padding: 5px;
    cursor: pointer;
 }

.Icon-check {
    color: #A7FFE4;
}

.Icon-check--active {
    color:#7ae69b;
}

.Icon-trash {
    color: #a09098;
}

.Icon-trash:hover {
    color: #77143f;
}

.TodoIten-p {
    font-size: 25px ;
    font-weight: 500;
    color:  #f44993;
    text-align: center;
}

.TodoIten-p-completed {
    text-decoration: line-through;
    color: #b6537e;
}

.Icon-edit {
    color: #73a371;
}

.Icon-edit:hover {
    color: #4e7c4a;
}

.Icons-trashEdit {
    display: flex;
}