.TodoCounter {
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 48px;
    color: #FF74B1;
    font-weight: 700;

}

.TodoCounter span {
    font-weight: bold;
    font-family: 'Montserrat';
}

.TodoCounter--loading {
    opacity: 25%;
}

